body {
    background-color: #f7f8f9;
    margin: 0px;
}
a{
    text-decoration: none;
}
.block__main {
    width: 1640px;
    margin: 0 auto;
    background-color: #f7f8f9;
    height: 100vh;
}

.block__item {
    display: flex;
    justify-content: space-between;
    gap:10px;
}

.block__items {
    background-color: #fff;
    display: flex;  
    margin-top: 20px;
    flex-direction: column;
    padding: 90px 40px 35px 32px;
    height: 100%;
    position: relative;
    width: 100%;
}

.block__img {
    width: 250px;
    align-self: center;
    height: 350px;
}

.block__text {
    display: flex;
    flex-direction: column;
    margin-top: 34px;
}
.text2{
    margin-top: 90px;
}

.text__span {
    display: flex;
    flex-direction: row;
    color:#fff;
    gap: 8px;
}
.text__discount{
    font-weight: bold;
    background-color: #ec4833;
    border-radius: 2px;
    padding: 5px 15px;
    text-transform: uppercase;
}
.discount{
    background-color: #679b2f;
}
.text__p{
    font-size: 22px;
    color:#47b0ec;
    margin: 15px 0px;
}
.text__title{
    font-weight: 500;
    font-size: 25px;
}

.text__back {
    display: flex;
    flex-direction: row;
    margin: 30px 0px;
    gap:20px;
}
.text__feedback{
    color:#8f94a1;
}
.fa-star{
    color:#f7bf4c;
}
.text__price{
    color:#8f94a1;
}
.text__prices {
    margin: 16px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
}
.text__amount{
    color:#ec4833;
    font-size: 27px;
    font-weight: bold;
}
.text__cashback{
    background-color: #fdeeb9;
    font-weight: 600;
    padding: 0px 8px;

    height: 20px;
    border-radius: 2px;
}
.text__oldprice{
    color:#8f94a1;
    text-decoration: line-through;
}
.text__buy{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: -20px;
    align-items: center;
    justify-content: space-between;
}
.text__none{
    transition: all 1   s ease 0s;
}
.text__icon{
    display: flex;
    gap:35px;
    color:#8f94a1;
    transition: all 0.3s ease 0s;
    font-size: 32px;
}
.text__btn{
    color:#fff;
    background-color: #4aa852;
    font-size: 24px;
    font-weight: 600;
    padding: 20px 80px;
    border-radius: 40px;
    transition: all 0.3s ease 0s;

}
.text__icon:active{
    color:red;
}
.text__btn:hover{
    background-color: #4aa870;
    
}
.text__none{
    display: none;
}
.block__items:hover .text__none{
    display: block;
}
.block__items:hover .block__code{
    transition: all 1s ease 0s;
    display: block;
}

.block__code{
    display: none;
    position:absolute;
    color:#8f94a1;
    font-size: 18px;
    right: 40px;
    top:20px;
}